:root{
	--green: #1D9D73;
	--green-lite: #6cdab5;
	--white: #ffffff;
	--offset: 15px;
	--color-text: #888888;
	--color-link: #333333;
	--color-icon-link: #d1d7de;
	--border-section: #e5e9eb;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


body{
	font-size: 16px; /* base multiplication value */
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: var(--color-text);	
}

.section {
	padding: 80px 0 18px;
	border-bottom: 1px solid var(--border-section);
}

.container{
	max-width: 1170px;
	padding: 10px 30px;
	margin: 0 auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 calc(var(--offset) * -1);
}

.col{
	margin: var(--offset);
	box-sizing: border-box;
}

h1,h2,h3,.h1,.h2,.h3{
	font-weight: 300;
	color: #333;
}

h1, .h1{
	font-size: 5.5rem;
	margin: 3rem 0;
}

h2, .h2{
	font-size: 3.3rem;
	margin: 0 0 40px;
	line-height: 3rem;
	letter-spacing: .1rem;
}

h3, .h3{
	font-size: 26px;
	margin: 16px 0;
}

strong, .strong{
	font-weight: 400;
}

em, .em{
	font-weight: 300;
	font-style: italic;
}

p{	
	font-weight: 300;
	margin: 30px 0;
	line-height: 1.875rem;
}

/* etc */
.content-text ul{
	list-style-type: disc;
	padding-left: 50px;
}

.btn{
	display: inline-block;
	padding: 16px 60px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 40px;
}

.btn-green{
	background: var(--green);
	color: var(--white);
	transition: background linear .2s;
}

.btn-green:hover,
.btn-green:focus {
	background: var(--green-lite);
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 560px){
	.container{
		padding: 10px var(--offset);
	}
}

@media screen and (max-width: 400px){
	:root{
		--offset: 8px;
	}
}

